.App {
  background-color: #3d4555;
  color: white;
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  grid-row-gap: 1px;
}

.App > div {
  background-color: #282c34;
  padding: 16px;
}

.App > div[data-prop-type] {
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.App > div[data-prop-name] {
  font-weight: bold;
}